@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Montserrat:wght@700&family=Noto+Serif+Kannada:wght@500&family=Roboto:wght@100&display=swap');
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif,'Noto Serif Kannada';
  box-sizing: border-box;
 }
 body{

  font-family:'sans-serif','Noto Serif Kannada';
  text-transform: capitalize;
  min-height: 100%;
  
 }
 header{
  width: 100%;
  height: 80px;
background: #3f4d08;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 100px;
}

.logo{
  font-size:60px ;
  font-weight: bold;
  color: antiquewhite;
  
}
.hamburger{
  display: none;

}
.nav-bar ul{
  display: flex;
  align-items: flex-start;
  align :left;

}
.nav-bar ul li a{
  display: block;
  color: antiquewhite;
  font-size: 20px;
  padding: 10px 25px;
border-radius: 50px;
transition: 0.2s;
margin: 0 5px;
}
.nav-bar ul li a:hover{
  color:aqua;
  background: white;

}
.nav-bar ul li a.active{
  color: #dbdcda;
  background:#879b27;


}
.nav-bar ul li a.active:hover{
  color: aqua;
  background: white;
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line{
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 6px 0

  }
  .nav-bar{
    height:  0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vh;
    background:#282d16;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: auto;
    z-index: 6; 
  }
  .nav-bar ul{
    display: block;
    width: fit-content;
    margin:80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar ul li a{
    margin-bottom: 12px;
    z-index: -1; 
    
  }
  .nav-bar.active ul {
    opacity: 1;
    transition: 0.5s;
  }
  .nav-bar ul li a:hover {
    color: aqua;
    background: white;
  }
  

}
.logo{
  font-size: 28px;
  font-weight: bold;
  color: #fff;

}
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.9);
  z-index: 3; /* Move the hero overlay behind the content */
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.hero-content .btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-content .btn:hover {
  background-color: #07e8d5;
}
.information {
  background-color: #282d16;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.padsale {
  color: #858d8b;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  background: #024c122c;
 
}

.olge {
  color: #86b107;
  font-size: 18px;
  margin-bottom: 10px;
  text-align:center;
}

.para {
  color: #dfdfdf;
  font-size: 16px;
  line-height: 3;
  text-align: justify;
}
.card-container {
  display: flex;
  overflow-x: auto;
  background-color:#282d16;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}

.card {
  align-items: center;
  flex: 0 0 300px;
  height: 400px;
  margin-right: 10px;
  perspective: 1000px;
  transition: transform 0.5s;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}
.card:last-child {
  margin-right: 0;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
  pointer-events: none;
}

.card:hover {
  transform: rotateY(10deg);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-content {
  padding: 20px;
  background-color: #282d167a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  align-items: center;
}

.card-content h3 {
  margin-top: 0;
  text-align: center;
  color: #ff3d00;
 font-size:25px;
 
}

.card-content p {
  margin-bottom: 0;
}
.read-link {
  display: block;
  padding: 8px 0;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: center;
}

.read-link:hover {
  background-color: #0056b3;
}



.container{
  max-width:1170px ;
  margin: auto;
  
}
footer {
  background: #20211b;
  padding: 70px 0;
  line-height: 1.5;
  margin-top: auto; 
}
.row{
  display: flex;
  flex-wrap: wrap;
  

}
.footer-col {
  width: 25%; 
  padding: 0 95px;
}

.footer-col h4{
  font-size: 18px;
  color: white;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #ff3d00;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  
}
.footer-col ul{
  list-style: none;

}
.footer-col ul li a{
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: all .3s ease;

}
.footer-col ul li a:hover{
  color: #d2e500;
  padding-left: 6px;

}
.footer-col .social-link a{
  display: block;
  height: 40px;
  width: 40px;
  background: rgba(255,255,255,.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height:40px ;
  border-radius: 50%;
  color: #fff;
  transition: all .5s ease;
  padding: 6%;
  justify-content: flex-start;
  margin-bottom:10px ;
  

}
.footer-col .social-link a:hover{
  color: #d2e500;
  background: #ff3d00;

}
@media(max-width:767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .hero-overlay:hover{
    color: #0ad2b1;
    background-color: #d2e500;
  }
}
